#userDrugs{
	margin: 5px;
}
#userDrugsContainer{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-gap: 5px;
}

.userDrugContainer {
	position: relative;
	margin-top: 5px;
	width: 350px;
	height: 120px;
	padding: 10px;
	border-style: double;
	border-width: 3px;
	border-color: aquamarine;
	background: #FFF;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  #userDrug {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
  }