.userDrugContainer {
	position: relative;
	margin: 5px;
	width: 400px;
	height: 120px;
	padding: 10px;
	background: #FFF;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  #userDrug {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
  }